services:
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: frontend
    ports:
      - 80:80
    depends_on:
      backend:
        condition: service_started
