.sidebar-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
  }
  
  .sidebar-header {
	margin-bottom: 20px;
  }
  
  .MuiListItemIcon-root {
	color: white !important;
  }
  