.App {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.App-container {
	flex: 1;
	display: flex;
	overflow: hidden;
	height: 100%;
}

.app-logo {
	height: 60px;
	margin: 15px;
}

.AppBar {
	background-color: #007bff !important;
}

.Sidebar {
	background-color: #007bff;
	color: white;
	height: 100vh;
}

.Sidebar.hide {
	display: none;
}

.Sidebar.show {
	display: flex;
	flex-direction: column;
}

.Chat-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	height: calc(100vh - 90px);
}

.ChatView {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: white;
}
