.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

.App-container {
	flex: 1;
	display: flex;
	overflow: hidden;
	height: 100%;
	margin-top: 90px;
}

.Sidebar {
	background-color: #007bff;
	color: white;
	height: 100vh;
}

.Sidebar.hide {
	display: none;
}

.Sidebar.show {
	display: flex;
	flex-direction: column;
}

.Chat-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	height: calc(100vh - 90px);
	min-height: 0;
}

.ChatView {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: white;
}
